<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="offline" value="../src/nuget-packages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <clear />
        <packageSource key="offline">
            <package pattern="*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>

    <disabledPackageSources>
        <add key="credit-domain-nuget" value="true" />
        <add key="credit-shared-nuget" value="true" />
        <add key="odin-nuget-remote" value="true" />
    </disabledPackageSources>
</configuration>
