<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="docke_web_api_offline_packages" value="../src/nuget-packages" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="docke_web_api_offline_packages">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
