<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="fraud_poc_offline_packages" value="C:\Development\Therron\training\src\nuget-packages" />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="odin-nuget-remote" value="https://capitecbank.jfrog.io/artifactory/api/nuget/v3/odin-nuget-remote/index.json" />
        <add key="credit-domain-nuget" value="https://capitecbank.jfrog.io/artifactory/api/nuget/v3/credit-domain-nuget/index.json" />
        <add key="credit-shared-nuget" value="https://capitecbank.jfrog.io/artifactory/api/nuget/v3/credit-shared-nuget/index.json" />
    </packageSources>
</configuration>
